/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

.App {
    text-align: center;
}

/* Стили для хедера */
header {
    background-color: #282c34;
    padding: 20px;
    display: flex;
    position: fixed;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header a {
    color: #61dafb;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

header a:hover {
    color: #282c34;
    background-color: #61dafb;
}

.BurgerMenu {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #61dafb;
}

.NavMenu {
    display: flex;
    align-items: center;
}

.NavMenu.Open {
    display: block;
}

.MainContent {
    padding-top: 100px;
}


/* Мобильные стили */
@media (max-width: 768px) {
    .BurgerMenu {
        display: block;
    }

    .NavMenu {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .NavMenu a {
        margin: 10px 0;
        width: 100%;
        padding: 15px;
    }

    .NavMenu.Open {
        display: flex;
    }
}

/* Стили для календаря */
.Calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
}

.PickTime {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.TextPick {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
}

.PickButton {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.PickButton button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #61dafb;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.PickButton button:hover {
    background-color: #21a1f1;
}

/* Стили для полей ввода */
.text-field__input {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px auto;
}

/* Стили для кнопок */
.button-login, .link-new-register {
    padding: 10px 20px;
    margin: 10px 0;
    border: 2px solid #61dafb;
    background-color: #61dafb;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button-login:hover, .link-new-register:hover {
    background-color: #21a1f1;
}

/* Стили для списка резерваций */
.MyReservations {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.MyReservations h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
}

.ReservationList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ReservationItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.ReservationItem:nth-child(even) {
    background-color: #f1f1f1;
}

.ReservationItem:hover {
    background-color: #e1e1e1;
}

.DeleteButton {
    padding: 5px 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
}

.DeleteButton:hover {
    background-color: #ff0000;
}

/* Стили для модального окна */
.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    outline: none;
    z-index: 1001;
}

.Modal h2 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
}

.Modal button {
    padding: 10px 20px;
    margin-top: 20px;
    margin-right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
}

.Modal button:hover {
    background-color: #0056b3;
}

/* Стили для фона модального окна */
.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
